<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label for="a">Escribe valor para que cambie en el modelo</label>
        <input type="text" name="a" v-model="nombre">
        
        <select v-model="eleccionMultiple">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <input type="checkbox" name="" id="" v-model="activo">
        <hr>
        <h5>Valor: {{nombre}}</h5>
        <h5>Seleccion multiple: {{eleccionMultiple}}</h5>
        <h5>Checkbox: {{activo}}</h5>
        <button v-on:click="cambiarTitle">Cambiar valor</button>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        //aplicacion vue
        const app = {
            //datos
            data() {
                return{
                    nombre: 'normal',
                    eleccionMultiple: '',
                    activo: false
                }
            },
            methods: {
                cambiarTitle()
                {
                    this.nombre = 'normal'
                    this.eleccionMultiple = ''
                    this.activo = false
                }
            }


        }
        Vue.createApp(app).mount('#app')
    </script>
</body>
</html>