<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <menu-component v-bind:usuario="usuario"></menu-component>
        <label>Usuario</label>
        <input type="text" v-model="usuario">
        <label>Correo</label>
        <input type="text" v-model="correo">
        <label>Clave</label>
        <input type="password" v-model="clave">
        <button type="button">Registrarse</button>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
    <script src="menuComponent.js"></script>
    <script>
        const mountedApp = _app.mount('#app')
    </script>
</body>
</html>